.texte {
  display: inline-block;
  background: linear-gradient(90deg, #ffffff, #a5f3fc, #c4b5fd);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-x 5s ease infinite;
  letter-spacing: 1px;
}