.porfolio{
color: transparent;
-webkit-text-stroke: 0.3vh white;
text-transform: uppercase;
}
.lien{
  @apply text-white  px-4 py-2 hover:bg-cyan-400 hover:rounded-2xl hover:px-3.5 w-full text-center;
}

.nav{
  @apply  text-lg p-2 border bg-gray-500 rounded-2xl;
}
