<div class="relative w-full h-screen bg-cover bg-center z-0" >
  <app-cosmos></app-cosmos>
  <div class="absolute inset-0"></div>

  <div class="relative z-10 container mx-auto px-4 h-full flex flex-col md:flex-row items-center justify-center gap-10">
    <!-- Texte -->
    <div class="text-white md:w-1/2 text-center md:text-left space-y-6 p-10 m-10">
      <p class="text-lg md:text-7xl font-bold">{{ 'ACCUEIL.SALUET' | translate }}</p>
      <h1 class="text-cyan-400 text-4xl font-semibold block">RANDRIAMIHARY Dani</h1>
      <p class="text-lg leading-relaxed">{{ 'ACCUEIL.PARCOURS' | translate }}</p>

      <a href="#profil">
        <button class="bg-cyan-500 hover:bg-cyan-700 mt-10 text-white font-bold px-6 py-3 rounded shadow-lg transition duration-300">
          {{ 'ACCUEIL.BUTTOM' | translate }}
        </button>
      </a>
    </div>

    <!-- Image -->
    <div class="md:w-1/2 flex justify-center">
      <img [src]="imagePath" alt="Portrait"
        class="rounded-full w-64 h-64 object-cover border-4 border-cyan-400 shadow-lg transform hover:scale-105 transition duration-500">
    </div>
  </div>
</div>
