
  .text1 {
    font-size: 25px;
    font-weight: 700px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s 1;
  }
  .text2 {
    font-size: 30px;
    color: #6ab04c;
  }
  @keyframes text {
    0% {
      letter-spacing: 5px;
    }
    25% {
      letter-spacing: 8px;
    }
    50% {
      letter-spacing: 6px;
    }
    85% {
      letter-spacing: 4px;
    }
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: white
  }
  .nom {
    @apply text-[55px] text-white  m-5 rounded-3xl shadow-lg transition-transform duration-300 scale-105 hover:shadow-xl;
  }

  @media (max-width : 1470px) {
    .nom {
      font-size: 40px;
    }

  }
  @media (max-width : 1120px) {
    .nom {
      font-size: 30px;
    }

    .img-profil {
      margin-left: -60px;
    }
  }
  @media (min-width : 460px) and (max-width : 896px) {
    .nom {
      font-size: 35px;
    }
    .box-img {
      text-align: center;
      margin-left: -60px;
    }
  }

  @media (max-width : 430px) {
    .nom {
      font-size: 23px;
      padding: 10px;
    }
    p {
      font-size: 1.1rem;
      padding-top: 20px;
    }
    .box-img {
      position: relative;
      left: -120px;
    }
  }

  @media (max-width: 768px) {
 .accueil-container{
    margin-top: 170px;
 }

  }

