<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
  <!-- Texte -->
  <div class="">
    <div class="welcome mt-10">

      <h1 class="text1 text-white">{{'ACCUEIL.SALUET' | translate}} </h1>
      <span class=" nom">RANDRIAMIHARY Dani</span>
      <p>{{'ACCUEIL.PARCOURS' | translate}}</p>
    </div>
    <button
      class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-6 rounded shadow transition duration-300 my-20 py-4">
      <a href="#profil">{{'ACCUEIL.BUTTOM' | translate}}</a>
    </button>
  </div>
  <!-- Image -->
  <div class="z-5 px-6 box-img">
    <img [src]="imagePath" alt="Portrait"
      class="rounded-full border-4 img-fluid shadow-lg transform hover:scale-105 transition duration-500 img-profil">
  </div>
</div>
