<div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
  <!-- Texte -->
  <div class="">
    <div class="welcome mt-10">

      <h1 class="text1 text-white">Bonjour, je suis </h1>
      <span class=" nom">RANDRIAMIHARY Dani</span>
      <p>Développeur web fullstack junior</p>
    </div>
    <button
      class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-6 rounded shadow transition duration-300 my-20 py-4">
      <a href="#profil">plus d'info</a>
    </button>
  </div>
  <!-- Image -->
  <div class="z-5 px-6">
    <img [src]="imagePath" alt="Portrait"
      class="rounded-full border-4 img-fluid shadow-lg transform hover:scale-105 transition duration-500">
  </div>
</div>
