.trace{
   border-right: 1px solid;
  height: 100%;
}
h3
{
  text-decoration: underline;
  text-decoration-color: white;
  gap: 5px;
}
// .competance{

//   width: 20px;
//   height: 20px;
//   background-color: red;

// }
