.trace{
   border-right: 1px solid;
  height: 100%;
}
h3
{
  text-decoration: underline;
  text-decoration-color: white;
  gap: 5px;
}
.title{
  text-transform: uppercase;
  font-size: 40px;
  -webkit-text-stroke: 2px #0ef;
  color: transparent;
}

.lien {
  transition: color 0.3s ease;
}

.lien:hover {
  text-decoration: underline;
}
