<div class=" bg-gray-800 pb-10">
  <div class="bg-gray-900 text-white">
    <div class="container mx-auto pt-24 px-4 py-10">
      <h1 class="text-4xl font-bold text-center mb-8 title">
        Compe<span class="text-cyan-400">Ténces</span>
      </h1>
      <div class="flex flex-col md:flex-row justify-between items-center">
        <!-- Technical Skills -->
        <div class="w-full md:w-1/2 mb-8 md:mb-0 p-10">
          <h2 class="text-2xl font-semibold mb-4">Compétences techniques</h2>
          <div class="mb-4">
            <div class="flex justify-between mb-1">
              <span>HTML</span>
              <span>90%</span>
            </div>
            <div class="h-2 bg-gray-700 rounded-full">
              <div class="h-2 bg-cyan-400 rounded-full" style="width: 90%;"></div>
            </div>
          </div>
          <div class="mb-4">
            <div class="flex justify-between mb-1">
              <span>CSS / SCSS </span>
              <span>80%</span>
            </div>
            <div class="h-2 bg-gray-700 rounded-full">
              <div class="h-2 bg-cyan-400 rounded-full" style="width: 80%;"></div>
            </div>
          </div>
          <div class="mb-4">
            <div class="flex justify-between mb-1">
              <span>JQuery</span>
              <span>60%</span>
            </div>
            <div class="h-2 bg-gray-700 rounded-full">
              <div class="h-2 bg-cyan-400 rounded-full" style="width: 60%;"></div>
            </div>
          </div>
          <div>
            <div class="mb-4">
              <div class="flex justify-between mb-1">
                <span>PhP</span>
                <span>65%</span>
              </div>
              <div class="h-2 bg-gray-700 rounded-full">
                <div class="h-2 bg-cyan-400 rounded-full" style="width: 65%;"></div>
              </div>
            </div>
          </div>
          <div>
            <div class="mb-4">
              <div class="flex justify-between mb-1">
                <span>Angular</span>
                <span>70%</span>
              </div>
              <div class="h-2 bg-gray-700 rounded-full">
                <div class="h-2 bg-cyan-400 rounded-full" style="width: 70%;"></div>
              </div>
            </div>
            <div class="mb-4">
              <div class="flex justify-between mb-1">
                <span>Laravel</span>
                <span>80%</span>
              </div>
              <div class="h-2 bg-gray-700 rounded-full">
                <div class="h-2 bg-cyan-400 rounded-full" style="width: 80%;"></div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
        <!-- Professional Skills -->
        <div class="w-full md:w-1/2  p-10">
          <h2 class="text-2xl font-semibold mb-4">Compétence professionnelles</h2>
          <div class="grid grid-cols-2 gap-8">
            <div class="text-center">
              <div class="relative">
                <svg class="w-20 h-20">
                  <circle cx="40" cy="40" r="35" stroke="gray" stroke-width="5" fill="none" />
                  <circle cx="40" cy="40" r="35" stroke="cyan" stroke-width="5" fill="none" stroke-dasharray="220"
                    stroke-dashoffset="45" />
                </svg>
                <span class="absolute inset-0 flex items-center justify-center text-xl font-bold">80%</span>
              </div>
              <p class="mt-2">Creativite</p>
            </div>
            <div class="text-center">
              <div class="relative">
                <svg class="w-20 h-20">
                  <circle cx="40" cy="40" r="35" stroke="gray" stroke-width="5" fill="none" />
                  <circle cx="40" cy="40" r="35" stroke="cyan" stroke-width="5" fill="none" stroke-dasharray="220"
                    stroke-dashoffset="55" />
                </svg>
                <span class="absolute inset-0 flex items-center justify-center text-xl font-bold">75%</span>
              </div>
              <p class="mt-2">Communication</p>
            </div>
            <div class="text-center">
              <div class="relative">
                <svg class="w-20 h-20">
                  <circle cx="40" cy="40" r="35" stroke="gray" stroke-width="5" fill="none" />
                  <circle cx="40" cy="40" r="35" stroke="cyan" stroke-width="5" fill="none" stroke-dasharray="220"
                    stroke-dashoffset="35" />
                </svg>
                <span class="absolute inset-0 flex items-center justify-center text-xl font-bold">85%</span>
              </div>
              <p class="mt-2">Résolution de problèmes</p>
            </div>
            <div class="text-center">
              <div class="relative">
                <svg class="w-20 h-20">
                  <circle cx="40" cy="40" r="35" stroke="gray" stroke-width="5" fill="none" />
                  <circle cx="40" cy="40" r="35" stroke="cyan" stroke-width="5" fill="none" stroke-dasharray="220"
                    stroke-dashoffset="45" />
                </svg>
                <span class="absolute inset-0 flex items-center justify-center text-xl font-bold">80%</span>
              </div>
              <p class="mt-2">Travail d'équipe</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SERVICE  -->
  <div class="container mx-auto">
    <div class="bg-gray-100 pt-16 p-8">
      <h2 class="text-4xl font-bold text-center text-white mb-12 animate-fade-in title">Forma<span
          class="text-cyan-400">tions</span></h2>
      <div class="container mx-auto">
        <!-- Education and Experience Header -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <!-- Education Section -->
          <div>
            <h2 class="text-2xl font-bold text-green-600 mb-4">Education</h2>
            <div class="space-y-6">
              <!-- Education Item -->
              <!-- Education Item: Master 2 -->
              <div class="flex items-start space-x-4 mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2 "></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">Master 2</h3>
                  <p class="text-sm text-gray-500">2024 - En cours</p>
                  <p class="text-gray-700 mt-2">
                    Actuellement en deuxième année du cycle Master, avec un mémoire en cours de rédaction. La soutenance
                    est prévue
                    prochainement.
                  </p>
                </div>
              </div>
              <!-- Education Item: Master 1 -->
              <div class="flex items-start space-x-4 mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">Master 1</h3>
                  <p class="text-sm text-gray-500">2023</p>
                  <p class="text-gray-700 mt-2">
                    Première année du cycle Master, approfondissant les compétences en développement logiciel et gestion
                    de projets.
                  </p>
                </div>
              </div>
              <!-- Education Item: Licence en Informatique -->
              <div class="flex items-start space-x-4 mt-6">
                <!-- Point vert -->
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="p-4 bg-white rounded-lg shadow-md w-full">
                  <h3 class="text-xl font-semibold">Licence en Informatique</h3>
                  <p class="text-sm text-gray-500">2021 - 2022</p>
                  <p class="text-gray-700 mt-2">
                    Spécialisée en bases de données et génie logiciel, obtenue en 2022 après trois ans d'études à
                    l'université CNTEMAD Ankadifotsy Antananarivo.
                  </p>
                </div>
              </div>

              <!-- Education Item: Deuxième Année en Informatique -->
              <div class="flex items-start space-x-4 mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">Deuxième Année en Informatique</h3>
                  <p class="text-sm text-gray-500">2020 - 2021</p>
                  <p class="text-gray-700 mt-2">
                    Poursuite de la licence en informatique à l'université CNTEMAD Ankadifotsy Antananarivo.
                  </p>
                </div>
              </div>
              <!-- Education Item: Baccalauréat -->
              <div class="flex items-start space-x-4 mt-6 ">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 bg-white rounded shadow w-full">
                  <h3 class="text-xl font-semibold">Baccalauréat Série D</h3>
                  <p class="text-sm text-gray-500">2018</p>
                  <p class="text-gray-700 mt-2">
                    Diplôme obtenu en 2018 .
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Experience Section -->
          <div>
            <h2 class="text-2xl font-bold text-green-600 mb-4">Experience</h2>
            <div class="space-y-6">
              <!-- Experience Item -->
              <div class="flex items-start space-x-4  mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 w-full bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">CUA (<span class="parenthese">Commune Urbaine d'Antananarivo</span>)
                  </h3>
                  <p class="text-sm text-gray-500">Du 12 août à aujourd'hui</p>
                  <h4 class="underline">Tâche</h4>
                  <p class="text-gray-700 mt-2">
                    actuellement , je finis mes etudes et en même temps je fais un stage à la commune urbaine
                    d'antananarivo
                  </p>
                </div>
              </div>
              <!-- Experience Item -->
              <div class="flex items-start space-x-4  mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">ProDéCID/GIZ (<span class="parenthese">Deutsche Gesellschaft für
                      Internationale Zusammenarbeit</span>)</h3>
                  <p class="text-sm text-gray-500">Septembre - Décembre 2024</p>
                  <h4 class="underline">Tâche</h4>
                  <p class="text-gray-700 mt-2">
                    Développement d'une application web de gestion des impôts pour la commune urbaine d'Antananarivo en
                    utilisant le
                    framework Angular pour le front-end et Laravel pour les API back-end.
                  </p>
                </div>
              </div>
              <!-- Experience Item -->
              <div class="flex items-start space-x-4  mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2"></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">Chez Nir'info</h3>
                  <p class="text-sm text-gray-500">Fevrier - Mars 2024</p>
                  <h4 class="underline">Tâche</h4>
                  <p class="text-gray-700 mt-2">
                    réalisation des developpement d’application web avec de react
                    Native et API CodeIgniter 3
                  </p>
                </div>
              </div>
              <!-- Experience Item -->
              <div class="flex items-start space-x-4  mt-6">
                <div class="w-4 h-4 bg-green-600 rounded-full flex-shrink-0 mt-2  "></div>
                <div class="ml-6 p-4 bg-white rounded shadow">
                  <h3 class="text-xl font-semibold">Chez CenTIC Mada</h3>
                  <p class="text-sm text-gray-500">2021 - 2022</p>
                  <p class="text-gray-700 mt-2 ">
                    Certification :<span> Obtention de la certification pour un stage d'étude en licence</span>
                  </p>
                  <h4 class="underline">Tâche</h4>
                  <p class="text-gray-700 mt-2">
                    Développement d'une application de gestion du parc informatique avec CodeIgniter
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
