<div class="container-fluid">
  <div class="navbar ">
    <app-nav-bar></app-nav-bar>
  </div>
  <div id="accueil" class="couverture">
    <app-accueil></app-accueil>
  </div>
  <!-- profile -->
  <div class="about justify-center content-center ">
    <app-profile></app-profile>
  </div>
  <!-- competance -->
  <div id="Compétences" class="competence d:flex row justify-center content-center">
    <app-competence></app-competence>
  </div>
  <!-- slide -->
  <div class="slide">
    <app-slide></app-slide>
  </div>
  <!--footer -->
  <div id="Contact" class="contact-footer ">
    <app-footer></app-footer>
  </div>
</div>
