  .couverture {
    background-image: url('/assets/couverture.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -1;
  }

  .img-fluid {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Ombre sur l'image */
    animation: border-color-cycle 3s linear infinite;

    /* Définition de l'animation */
    @keyframes border-color-cycle {
      0% {
        border-color: #e63946;
      }

      33% {
        border-color: blue;
      }

      66% {
        border-color: #9561f4;
      }

      100% {
        border-color: #e63946;
      }
    }
  }

  .welcome {
    width: 100%;
  }

  .text1 {
    font-size: 25px;
    font-weight: 700px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s 1;
  }

  .text2 {
    font-size: 30px;
    color: #6ab04c;
  }

  @keyframes text {
    0% {
      letter-spacing: 5px;
    }

    25% {
      letter-spacing: 8px;
    }

    50% {
      letter-spacing: 6px;
    }

    85% {
      letter-spacing: 4px;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: white
  }

  .nom {
    @apply text-[55px] text-blue-600 border border-cyan-300 border-x-8 px-5 bg-white bg-opacity-50 m-5 rounded-3xl shadow-lg transition-transform duration-300 scale-105 hover:shadow-xl;
  }
