  .couverture {
    background-image: url('/assets/couverture.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -1;
  }


